<footer class="bg-gray-200 py-10">
    <div class="w-11/12 mx-auto">
      <h2 class="m-0 text-2xl font-semibold">Get The FreshCart App</h2>
      <p class="text-gray-500 text-sm my-3">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <!-- inputs design  -->
      <div class="container mx-auto flex items-center gap-3 text-nowrap">
        <input type="text" class="w-full rounded-lg border-gray-300" placeholder="Email" />
        <button class="btn-main bg-main text-white rounded-lg py-2 px-10">Share App Link</button>
      </div>
  
      <hr />
  
      <!-- footer payment Details Design  -->
      <div class="pay-details lg:flex md:block sm:block justify-between items-center my-5 py-5 border-b border-t border-gray-300 ">
        <div class="flex items-center gap-2">
          <h3 class="text-sm m-0 font-semibold">Payment partners</h3>
          <img src="./images/amazon-pay.png" role="button" width="50px" alt="amazon-pay-logo" />
          <img
            src="./images/American-Express-Color.png"
            role="button"
            width="50px"
            alt="American-Express-logo"
          />
          <img src="./images/paypal.png" role="button" width="50px" alt="paypal-logo" />
          <img src="./images/mastercard.webp" role="button" width="50px" alt="mastercard-logo" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="h6 m-0 font-semibold">Get Deliveries with FreshCart</h3>
          <img src="./images/get-google-play.png" role="button" width="100px" alt="google-play-logo" />
          <img src="./images/get-apple-store.png" role="button" width="100px" alt="apple-store-logo" />
        </div>
      </div>
    </div>
  </footer>
  